<br />
<div class="surface-container">
  <div class="surface-container-header">
    <h3 class="text-white pt-3 pb-2">Cadastrar Empresa</h3>
  </div>
  <div class="surface-container-body">
    <div class="row">
      <div class="col text-end">
        <img
          src="assets/upload_file.svg"
          alt="Upload do Logo da Empresa"
          id="company-logo-upload-image"
        />
      </div>
      <div class="col text-start">
        <button class="btn btn-primary mt-5">
          <i class="bi bi-upload"></i>
          Upload do Logo da Empresa
        </button>
      </div>
    </div>
    <br />
    <form [formGroup]="companyForm">
      <div class="row">
        <div class="form-floating col">
          <input
            formControlName="companyName"
            type="text"
            class="form-control"
            placeholder="Nome Fantasia"
            [class.is-invalid]="invalidCompanyName"
            (blur)="validateCompanyExists('name')"
          />
          <label class="ps-4">Nome Fantasia</label>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col">
          <input
            formControlName="companyDisplayName"
            type="text"
            class="form-control"
            placeholder="Nome da Empresa"
            [class.is-invalid]="invalidCompanyDisplayName"
          />
          <label class="ps-4">Nome da Empresa</label>
        </div>
        <div class="form-floating col">
          <input
            formControlName="companyAlias"
            type="text"
            class="form-control"
            placeholder="Código da Empresa"
            [class.is-invalid]="invalidCompanyAlias"
            (blur)="validateCompanyExists('alias')"
          />
          <label class="ps-4">Código da Empresa</label>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col">
          <input
            formControlName="companyTradingName"
            type="text"
            class="form-control"
            placeholder="Razão Social"
            [class.is-invalid]="invalidCompanyTradingName"
            (blur)="validateCompanyExists('tradingName')"
          />
          <label class="ps-4">Razão Social</label>
        </div>
        <div class="form-floating col">
          <input
            formControlName="companyDocument"
            type="text"
            class="form-control"
            placeholder="CNPJ"
            [class.is-invalid]="invalidCompanyDocument"
            (blur)="validateCompanyExists('document')"
          />
          <label class="ps-4">CNPJ</label>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col">
          <input
            formControlName="companyContact"
            type="email"
            class="form-control"
            placeholder="E-Mail de Contato Principal"
            [class.is-invalid]="invalidCompanyContact"
          />
          <label class="ps-4">E-Mail de Contato Principal</label>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <button class="btn btn-primary" [routerLink]="['/companies']">
            <i class="bi bi-arrow-left-square-fill"></i>
            Voltar
          </button>
          <button
            class="btn btn-success"
            [disabled]="!canSubmit"
            (click)="submitCompany()"
          >
            <i class="bi bi-plus-square-fill"></i>
            Cadastrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
