<div class="surface-container">
  <div class="surface-container-header">
    <h3 class="text-white pt-3 pb-2">Cadastrar Empresa</h3>
  </div>
  <div class="surface-container-body">
    <div class="row">
      <div class="col-md text-end">
        <div class="logo-image-wrapper position-relative d-inline-block">
          @if(logoIsSelected){
          <img
            [src]="croppedImage"
            alt="Logo da Empresa"
            id="company-logo-upload-image"
            class="img-thumbnail"
          />
          <div class="overlay rounded" (click)="removeLogo()">
            <span><i class="bi bi-trash-fill"></i> Remover</span>
          </div>
          } @else {
          <img
            src="assets/upload_file.svg"
            alt="Upload do Logo da Empresa"
            id="company-logo-upload-image"
          />
          }
        </div>
      </div>
      <div class="col-md text-start">
        <button class="btn btn-primary mt-5" (click)="fileInput.click()">
          <i class="bi bi-upload"></i>
          Upload do Logo da Empresa
        </button>
        <input
          #fileInput
          type="file"
          accept="image/*"
          (change)="fileChangeEvent($event)"
          hidden
        />
      </div>
    </div>
    <br />

    <div class="alert alert-warning" role="alert">
          <i class="bi bi-exclamation-square-fill"></i>
          Código da Empresa e CNPJ não poderão ser editados após o cadastro
    </div>

    <form [formGroup]="companyForm">
      <!-- Nome Fantasia -->
      <div class="row">
        <div class="form-floating col-md">
          <input
            formControlName="companyName"
            type="text"
            class="form-control"
            placeholder="Nome Fantasia"
            [class.is-invalid]="
              invalidCompanyName ||
              (companyForm.get('companyName')?.invalid &&
              companyForm.get('companyName')?.touched)
            "
            (blur)="validateCompanyExists('name')"
          />
          <label class="ps-4">Nome Fantasia</label>
          <div class="invalid-feedback pb-2">
            @if (companyForm.get('companyName')?.hasError('required')) {
              Nome Fantasia é obrigatório.
            }
            @else if (companyForm.get('companyName')?.hasError('maxlength')) {
              Nome Fantasia excede o tamanho máximo.
            }
            @else if (invalidCompanyName) {
              Nome Fantasia já cadastrado.
            }
          </div>
        </div>
      </div>

      <!-- Nome da Empresa + Código -->
      <div class="row">
        <div class="form-floating col-md">
          <input
            formControlName="companyDisplayName"
            type="text"
            class="form-control"
            placeholder="Nome da Empresa"
            [class.is-invalid]="
              companyForm.get('companyDisplayName')?.invalid &&
              companyForm.get('companyDisplayName')?.touched
            "
          />
          <label class="ps-4">Nome da Empresa</label>
          <div class="invalid-feedback pb-2">
            @if (companyForm.get('companyDisplayName')?.hasError('required')) {
              Nome da Empresa é obrigatório.
            }
            @else if (companyForm.get('companyDisplayName')?.hasError('maxlength')) {
              Nome da Empresa excede o tamanho máximo.
            }
          </div>
        </div>

        <div class="form-floating col-md">
          <input
            formControlName="companyAlias"
            type="text"
            class="form-control"
            placeholder="Código da Empresa"
            [class.is-invalid]="
              invalidCompanyAlias ||
              (companyForm.get('companyAlias')?.invalid &&
              companyForm.get('companyAlias')?.touched)
            "
            (blur)="validateCompanyExists('alias')"
          />
          <label class="ps-4">Código da Empresa</label>
          <div class="invalid-feedback pb-2">
            @if (companyForm.get('companyAlias')?.hasError('required')) {
              Código é obrigatório.
            }
            @else if (companyForm.get('companyAlias')?.hasError('maxlength')) {
              Código excede o tamanho máximo.
            }
            @else if (invalidCompanyAlias) {
              Código já cadastrado.
            }
          </div>
        </div>
      </div>

      <!-- Razão Social + CNPJ -->
      <div class="row">
        <div class="form-floating col-md">
          <input
            formControlName="companyTradingName"
            type="text"
            class="form-control"
            placeholder="Razão Social"
            [class.is-invalid]="
              invalidCompanyTradingName ||
              (companyForm.get('companyTradingName')?.invalid &&
              companyForm.get('companyTradingName')?.touched)
            "
            (blur)="validateCompanyExists('tradingName')"
          />
          <label class="ps-4">Razão Social</label>
          <div class="invalid-feedback pb-2">
            @if (companyForm.get('companyTradingName')?.hasError('maxlength')) {
              Razão Social excede o tamanho máximo.
            }
            @else if (invalidCompanyTradingName) {
              Razão Social já cadastrada.
            }
          </div>
        </div>

        <div class="form-floating col-md">
          <input
            formControlName="companyDocument"
            type="text"
            class="form-control"
            placeholder="CNPJ"
            [class.is-invalid]="
              invalidCompanyDocument ||
              (companyForm.get('companyDocument')?.invalid &&
              companyForm.get('companyDocument')?.touched)
            "
            (blur)="validateCompanyExists('document')"
          />
          <label class="ps-4">CNPJ</label>
          <div class="invalid-feedback pb-2">
            @if (companyForm.get('companyDocument')?.hasError('required')) {
              CNPJ é obrigatório.
            }
            @else if (companyForm.get('companyDocument')?.hasError('pattern')) {
              CNPJ deve conter 14 dígitos numéricos.
            }
            @else if (invalidCompanyDocument) {
              CNPJ já cadastrado.
            }
          </div>
        </div>
      </div>

      <!-- E-mail -->
      <div class="row">
        <div class="form-floating col-md">
          <input
            formControlName="companyContact"
            type="email"
            class="form-control"
            placeholder="E-Mail de Contato Principal"
            [class.is-invalid]="
              companyForm.get('companyContact')?.invalid &&
              companyForm.get('companyContact')?.touched
            "
          />
          <label class="ps-4">E-Mail de Contato Principal</label>
          <div class="invalid-feedback pb-2">
            @if (companyForm.get('companyContact')?.hasError('required')) {
              E-mail é obrigatório.
            }
            @else if (companyForm.get('companyContact')?.hasError('email')) {
              Formato de e-mail inválido.
            }
          </div>
        </div>
      </div>

      <!-- Botões -->
      <div class="row">
        <div class="col-md text-center">
          <button class="btn btn-primary" [routerLink]="['/companies']">
            <i class="bi bi-arrow-left-square-fill"></i>
            Voltar
          </button>
          <button
            class="btn btn-success"
            [disabled]="
              companyForm.invalid ||
              invalidCompanyName ||
              invalidCompanyAlias ||
              invalidCompanyTradingName ||
              invalidCompanyDocument
            "
            (click)="submitCompany()"
          >
            <i class="bi bi-plus-square-fill"></i>
            Cadastrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal do Cropper -->
<div
  #cropperModal
  class="modal fade"
  id="cropperModal"
  tabindex="-1"
  aria-labelledby="cropperModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cropperModalLabel">
          Ajustar logo da Empresa
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fechar"
          (click)="closeCropperModal()"
        ></button>
      </div>
      <div class="modal-body text-center">
        <div class="alert alert-primary" role="alert">
          <i class="bi bi-info-square-fill"></i>
          A imagem deve ser do tipo PNG ou JPEG e possuir no máximo 2MB
        </div>
        @if (isCropperVisible) {
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [format]="fileType"
          [maintainAspectRatio]="false"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        }
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeCropperModal()"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Definir
        </button>
      </div>
    </div>
  </div>
</div>