<div class="login-div" *ngIf="flowType !== 'RECOVERY'">
  <div
    class="col-4 mx-auto surface-container"
    *ngIf="flowType === 'COMMON_LOGIN' || flowType === 'COMPANY_LOGIN'"
  >
    <div class="surface-container-header">
      <img
        alt="Logo da Empresa"
        id="equaly-logo"
        [src]="selectedCompany?.logoUri || 'https://equalymessengerstorage.blob.core.windows.net/public-assets/logo_white.png'"
      />
    </div>
    <div
      class="text-center surface-container-body"
      id="common-login"
      *ngIf="flowType === 'COMMON_LOGIN'"
    >
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin('COMMON_LOGIN')" novalidate>
        <input
          formControlName="login"
          type="text"
          class="form-control"
          placeholder="Login ou E-mail"
          [class.is-invalid]="invalidLogin"
        />
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Senha"
          [class.is-invalid]="invalidLogin"
        />
        <div class="alert alert-danger" *ngIf="invalidLogin">
          Informações Incorretas, tente novamente.
        </div>
        <button class="btn btn-primary" type="submit">Entrar</button>
        <button
          class="btn btn-outline-primary"
          (click)="changeView('COMPANY_SEARCH', $event)"
        >
          Entrar com Empresa
        </button>
      </form>
      <br />
      <div class="text-center">
        <b
          ><p>
            <a
              alt="Primeiro Acesso ou Recuperar Conta"
              href="#"
              (click)="changeView('RECOVERY', $event)"
              >Primeiro Acesso ou Recuperar Conta</a
            >
          </p></b
        >
      </div>
    </div>
    <div
      class="text-center surface-container-body"
      id="company-login"
      *ngIf="flowType === 'COMPANY_LOGIN'"
    >
      <div
        class="company-search"
        *ngIf="
          subflowType === 'COMPANY_SEARCH' || subflowType === 'COMPANY_LIST'
        "
      >
        <form
          [formGroup]="companySearchForm"
          (ngSubmit)="searchCompanies()"
          class="input-group"
        >
          <input
            formControlName="customerDocument"
            type="text"
            class="form-control"
            placeholder="CPF ou RNE"
          />
          <button
            class="bi bi-search btn btn-primary float-left"
            type="submit"
          ></button>
        </form>
      </div>
      <div
        class="company-list"
        *ngIf="companiesSearched && subflowType === 'COMPANY_LIST'"
      >
        <table class="table table-striped table-hover">
          <tbody>
            @for (company of companies; track company.id){
            <tr>
              <td class="col-9">
                <p>{{ company.name }}</p>
                <p>{{ company.tradingName }}</p>
                <p>{{ company.document }}</p>
              </td>
              <td>
                <button
                  class="btn btn-primary col"
                  (click)="selectCompany(company, $event)"
                >
                  Acessar
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="page === 0">
              <button class="page-link" (click)="loadPage(page - 1)">
                Anterior
              </button>
            </li>

            @for (p of pages; track p) {
            <li class="page-item" [class.active]="p === page">
              <button class="page-link" (click)="loadPage(p)">
                {{ p + 1 }}
              </button>
            </li>
            }

            <li class="page-item" [class.disabled]="page >= totalPages - 1">
              <button class="page-link" (click)="loadPage(page + 1)">
                Próximo
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <button
        class="btn btn-outline-primary"
        (click)="changeView('COMMON_LOGIN', $event)"
        *ngIf="
          subflowType === 'COMPANY_SEARCH' || subflowType === 'COMPANY_LIST'
        "
      >
        Voltar
      </button>
      <div class="company-form" *ngIf="subflowType === 'COMPANY_CREDENTIALS'">
        <div class="company-info">
          <p>
            <i><b>Empresa: </b>{{ selectedCompany?.name }}</i>
          </p>
          <p>
            <i><b>Razão Social: </b>{{ selectedCompany?.tradingName }}</i>
          </p>
          <p>
            <i><b>CNPJ: </b>{{ selectedCompany?.document }}</i>
          </p>
          <p>
            <i><b>Código da Empresa: </b>{{ selectedCompany?.alias }}</i>
          </p>
        </div>
        <br />
        <div class="login-container-body">
          <div class="alert alert-danger" *ngIf="invalidLogin">
            Informações Incorretas, tente novamente.
          </div>
          <form [formGroup]="companyLoginForm" (ngSubmit)="submitLogin('COMPANY_LOGIN')">
            <input formControlName="password" class="form-control" type="password" placeholder="Senha" [class.is-invalid]="invalidLogin"/>
            <button class="btn btn-primary" type="submit">Entrar</button>
            <button
            type="button"
            class="btn btn-outline-primary"
            (click)="changeView('COMPANY_LIST', $event)"
          >
            Voltar
          </button>
          </form>
        </div>
        <p>ou</p>
        <button
          class="btn btn-outline-primary"
          (click)="changeView('COMMON_LOGIN', $event)"
        >
          Entrar com Login
        </button>
      </div>
    </div>
  </div>
</div>
<div class="login-div" *ngIf="flowType === 'RECOVERY'">
  <div class="col-4 mx-auto surface-container">
    <div class="surface-container-header"><br /></div>
    <div class="surface-container-body">
      <h2 class="text-center">Recuperar Conta</h2>
      <p *ngIf="!recoveryCodeSent">
        Digite seu Login e o código da sua Empresa. Caso não possua nenhuma
        destas informações, entre em contato com o administrador de seu sistema.
      </p>

      <form [formGroup]="recoveryForm" (ngSubmit)="sendRAC()" novalidate>
        <input
          formControlName="login"
          type="text"
          class="form-control"
          placeholder="Login"
          [class.is-invalid]="invalidRecovery"
          *ngIf="!recoveryCodeSent"
        />
        <input
          formControlName="companyAlias"
          type="text"
          class="form-control"
          placeholder="Código da Empresa"
          [class.is-invalid]="invalidRecovery"
          *ngIf="!recoveryCodeSent"
        />
        <div class="alert alert-success" *ngIf="recoveryCodeSent">
          Código enviado com sucesso! Verifique sua caixa de entrada ou spam.
        </div>
        <div class="alert alert-danger" *ngIf="invalidRecovery">
          Informações Incorretas, tente novamente.
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary"
            *ngIf="!recoveryCodeSent"
          >
            Enviar Código de Recuperação
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="changeView('COMMON_LOGIN', $event)"
          >
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
