<div class="surface-container">
  <div class="surface-container-header">
    <h3 class="text-white pt-3 pb-2">Editar Departamento</h3>
  </div>
  <div class="surface-container-body">
    <form [formGroup]="departmentForm" (ngSubmit)="editDepartment()">
      <div class="row">
        <div class="form-floating col">
          <input
            type="number"
            class="form-control"
            id="floatingId"
            disabled
            [value]="selectedDepartment?.id"
            title="ID"
          />
          <label for="floatingId" class="ps-4">ID do Departamento</label>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col">
          <input
            type="text"
            class="form-control"
            id="floatingCompany"
            disabled
            [value]="
              selectedDepartment?.company?.id
                ?.toString()
                ?.concat(' - ')
                ?.concat(selectedDepartment?.company?.name!)
            "
          />
          <label for="floatingCompany" class="ps-4">Empresa</label>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col">
          <input
            type="text"
            maxlength="64"
            class="form-control"
            formControlName="departmentName"
            [class.is-invalid]="departmentForm.get('departmentName')?.invalid && (departmentForm.get('departmentName')?.touched || departmentForm.get('departmentName')?.dirty)"
            title="Nome do Departamento"
          />
          <label class="ps-4">Nome do Departamento</label>
          @if(departmentForm.get('departmentName')?.invalid && (departmentForm.get('departmentName')?.touched || departmentForm.get('departmentName')?.dirty)){
          <div class="invalid-feedback pb-2">
            Nome do Departamento não preenchido ou inválido.
          </div>
          }
        </div>
      </div>

      <div class="form-floating">
        <textarea
          maxlength="256"
          class="form-control"
          id="departmentDescriptionLabel"
          formControlName="departmentDescription"
          [class.is-invalid]="departmentForm.get('departmentDescription')?.invalid && (departmentForm.get('departmentDescription')?.touched || departmentForm.get('departmentDescription')?.dirty)"
        ></textarea>
        <label for="departmentDescriptionLabel">Descrição</label>
        @if(departmentForm.get('departmentDescription')?.invalid && (departmentForm.get('departmentDescription')?.touched || departmentForm.get('departmentDescription')?.dirty)){
        <div class="invalid-feedback pb-2">
          Descrição não preenchida ou inválida.
        </div>
        }
      </div>

      <div class="row">
        <div class="col text-center">
          <button class="btn btn-primary" [routerLink]="['/departments']">
            <i class="bi bi-arrow-left-square-fill"></i>
            Voltar
          </button>
          <button type="submit" class="btn btn-success" [disabled]="departmentForm.invalid">
            <i class="bi bi-pencil-fill"></i>
            Editar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
