<div class="surface-container">
  <div class="surface-container-header">
    <h3 class="text-white pt-3 pb-2">Cadastrar Credencial</h3>
  </div>
  <div class="surface-container-body">
    <form [formGroup]="credentialForm" (ngSubmit)="submitCredential()">
      <div class="row">
        <div class="form-floating col-md">
          <app-company-search
            (selectedCompany)="onSelectCompany($event)"
          ></app-company-search>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col-md">
          <select
            class="form-select"
            [class.is-invalid]="invalidCredential"
            formControlName="type"
            title="Tipo de Credencial"
          >
            <option value="" disabled>Selecione</option>
            <option value="ADMINISTRATIVE">Administrativa</option>
            <option value="OPERATIONAL">Operacional</option>
            <option value="CHATBOT">Chatbot</option>
          </select>
          <label class="ps-4">Tipo de Credencial</label>
          @if(invalidCredential){
          <div class="invalid-feedback pb-2">
            Credencial inválida ou já existente para a empresa.
          </div>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-md text-center">
          <button class="btn btn-primary" [routerLink]="['/credentials']">
            <i class="bi bi-arrow-left-square-fill"></i>
            Voltar
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!canSubmit || invalidCredential"
          >
            <i class="bi bi-plus-square-fill"></i>
            Cadastrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
