<div class="recovery-div">
    <div class="col-4 mx-auto surface-container">
      <div class="surface-container-header"><br/>
      </div>
      <div class="surface-container-body">
        <h2 class="text-center">Redefinir Conta</h2>
        <p>Confirme o código de 6 dígitos enviados para o e-mail <i>{{recoveryEmail}}</i>, digite e confirme uma nova senha.</p>
        <p>Se foi solicitado um envio de código e não recebeu o mesmo, verifique sua caixa de spam ou entre em contato com o administrador do sistema.</p>
        <input type="text" class="form-control" placeholder="Código de Recuperação"/>
        <input type="password" class="form-control" placeholder="Nova Senha"/>
        <input type="password" class="form-control" placeholder="Confirme a Nova Senha"/>
        <div class="text-center">
          <button type="button" class="btn btn-primary">Redefinir Senha</button>
        </div>
      </div>
    </div>
  </div>