<div class="loading d-flex justify-content-center align-items-center"
     [class.loading-show]="loadingService.isLoading$ | async">
  <div class="spinner-grow spinner-grow-sm">
    <span class="visually-hidden">Loading...</span>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="spinner-grow spinner-grow-sm">
    <span class="visually-hidden">Loading...</span>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="spinner-grow spinner-grow-sm">
    <span class="visually-hidden">Loading...</span>
  </div>&nbsp;&nbsp;&nbsp;
</div>
