<!-- Input Universal User Search -->
<div class="row">
  <div class="col-md-9">
    <input
      disabled
      class="form-control mt-3"
      id="universalUserSearchInput"
      placeholder="Nenhuma pessoa selecionada"
      [class.is-invalid]="!validUniversalUserSelected"
      #universalUserSearchInputRef
    />
  </div>
  <div class="col-md-3">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#universalUserSearchModal"
    >
      <i class="bi bi-search-fill"></i>
      Buscar
    </button>
  </div>
</div>

<!-- Modal Pesquisa -->
<div
  class="modal modal-lg fade"
  id="universalUserSearchModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="universalUserSearchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="universalUserSearchModalLabel">
          Filtrar por Pessoas
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-floating">
              <select
                class="form-select form-control"
                [(ngModel)]="selectedFilter"
                title="Selecione o filtro"
              >
                <option value="NONE" selected>Selecione</option>
                <option value="id">ID</option>
                <option value="name">Nome</option>
                <option value="document">Documento</option>
              </select>
              <label>Filtro</label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="searchValue"
                placeholder="Digite"
              />
              <label>Busca</label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md">
                <button
                  class="btn btn-primary"
                  (click)="searchUniversalUsers()"
                >
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
                <button class="btn btn-danger" (click)="clearFilters()">
                  <i class="bi bi-trash-fill"></i>
                  Limpar Filtros
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md">
            @if (searchedUniversalUsers.length > 0) {
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo de Documento</th>
                    <th>Documento</th>
                  </tr>
                </thead>
                <tbody>
                  @for (universalUser of searchedUniversalUsers; track
                  universalUser.id) {
                  <tr
                    style="cursor: pointer"
                    data-bs-dismiss="modal"
                    (click)="selectUniversalUserFromModal(universalUser)"
                  >
                    <td class="align-middle">{{ universalUser.id }}</td>
                    <td class="align-middle">{{ universalUser.name }}</td>
                    <td class="align-middle">
                      {{ universalUser.documentType }}
                    </td>
                    <td class="align-middle">{{ universalUser.document }}</td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
            } @if (searchedUniversalUsers.length === 0) {
            <div class="surface-banner text-center">
              <img
                src="assets/not_found.svg"
                alt="Não encontrado"
                class="img-fluid"
              />
              <br />
              <h4>Nada foi encontrado por aqui...</h4>
              <br />
            </div>
            } @if (searchedUniversalUsers.length > 0) {
            <br />
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 0">
                  <button class="page-link" (click)="goToPage(currentPage - 1)">
                    Anterior
                  </button>
                </li>

                @for (page of [].constructor(totalPages); track $index) {
                <li class="page-item" [class.active]="$index === currentPage">
                  <button class="page-link" (click)="goToPage($index)">
                    {{ $index + 1 }}
                  </button>
                </li>
                }

                <li
                  class="page-item"
                  [class.disabled]="currentPage === totalPages - 1"
                >
                  <button class="page-link" (click)="goToPage(currentPage + 1)">
                    Próximo
                  </button>
                </li>
              </ul>
            </nav>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
